/* 이미지 컨테이너 스타일링 */
.image-container {
  /* 이미지 컨테이너 스타일을 원하는대로 설정 */
}

/* 이미지 및 텍스트 스타일링 */
.image-with-text {
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px; /* 이미지 컨테이너와 같은 크기로 설정 */

  /* 추가적인 스타일링은 원하는대로 설정 */
}

.overlay-text {
  position: absolute; /* 포지션을 절대 위치로 설정 */
  top: 50%; /* 상단에서 50% 위치로 이동 */
  left: 50%; /* 좌측에서 50% 위치로 이동 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환(transform) */
  background: rgba(255, 255, 255, 0.7); /* 텍스트 배경 색상 및 투명도 설정 */
  padding: 10px; /* 텍스트 주변 여백 설정 */
}
